@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
 --main-color: rgb(60,69,175);
 --secondary-color: rgb(105, 114, 211);
 --secondary-color-hover: rgb(87, 98, 223);
 --main-color-strong: rgb(33, 43, 144);
  background-color: #bad8e9
}


body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}